body{
    background-color: black;
    color: white;
    text-align: center;
}

.row {
    padding: 40px 0;
}

.box{
    border-top: 24px black solid;
    border-bottom: 10px black solid;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(18,227,28,1);
    -moz-box-shadow: 0px 0px 10px 10px rgba(18,227,28,1);
    box-shadow: 0px 0px 10px 10px rgba(18,227,28,1);
}

.imagenes {
    justify-content: center;
    gap: 16px;
}

.info{
    justify-content: center;
}

.mail{
    text-align: left;
}